<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Professores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tpa.css') }}">
    </head>
    <body>
        <header>
        </header>

        <main>
            <div class= caixa>
                <h1 class= titulo> 
                    Bem vindo professor! 
                </h1>
                <p class= subtitulo>
                    Suas turmas:
                </p>
                <button onclick="criarturma()" class= botao>
                    Criar professor:
                </button>
            </div>
        </main>
    
    </body>
    <script src="/static/js/professor.js"></script>
</html>